<h1 class="text-lg">all topics</h1>

<table class="w-full">
    <tr class="py-1 border-b-2 border-yellow-100 text-left">
        <th class="pr-3 w-5/12">title</th>
        <th class="px-3 w-2/12">author</th>
        <th class="px-3 w-1/12">#</th>
        <th class="pl-3 w-2/12">latest poster</th>
        <th class="pl-3 w-2/12">latest post</th>
    </tr>
    <% @topics.each do |topic| %>
        <tr class="py-1 border-b-2 border-yellow-100">
            <td class="pr-3 w-5/12"><%= link_to topic.title, topic_path(topic) %></td>
            <td class="px-3 w-2/12"><%= link_to topic.author.username, profile_path(topic.author) %></td>
            <td class="px-3 w-1/12"><%= topic.posts.count %></td>
            <td class="pl-3 w-2/12"><%= link_to topic.posts.last.author.username, profile_path(topic.posts.last.author) %></td>
            <td class="pl-3 w-2/12"><%= time_ago_in_words(topic.posts.last.created_at) %></td>
        </tr>
    <% end %>
</table>
<%= link_to "new topic", new_topic_path, class: "btn inline-block mt-3" %>
