<div class="flex justify-between">
    <h1 class="text-lg mb-1 px-1 inline-block bg-secondary-300">topics</h1>
    <%= link_to "new topic", new_topic_path, class: "btn inline-block" %>
</div>

<details class="w-full my-3" open>
    <summary class="py-1 px-1 bg-secondary-200">forum-wide pinned posts</summary>
    <table class="w-full" id="pinned">
        <thead>
            <tr class="bg-secondary-300 border-b-2 border-secondary-100 text-left">
                <th class="px-3 w-10/12 md:w-7/12 break-all">title</th>
                <th class="px-3 hidden md:table-cell w-1/12">author</th>
                <th class="px-3 hidden md:table-cell w-1/12">#</th>
                <th class="px-3 w-2/12 md:w-1/12">latest <span class="sr-only">poster</span></th>
                <th class="px-3 hidden md:table-cell w-2/12"><span class="sr-only">latest post</span></th>
            </tr>
        </thead>
        <tbody>
            <% @topics.where(pinned: true).each do |topic| %>
                <% views_for_topic = @topic_views[topic.id] %>
                <% unread_posts = unread_posts?(topic, views_for_topic) %>
                
                <tr class="py-1 border-b-2 border-secondary-200 bg-secondary-100 <%= 'font-bold' if unread_posts %>">
                    <td class="px-3 w-10/12 md:w-6/12 break-all"><%= link_to topic.title, topic_path(topic) %> <span class="sr-only"><%= '(unread)' if unread_posts %></span></td>
                    <td class="px-3 hidden md:table-cell w-1/12"><%= link_to topic.author.username, profile_path(topic.author) %></td>
                    <td class="px-3 hidden md:table-cell w-1/12"><%= topic.posts.length %></td>
                    <td class="px-3 w-2/12 md:w-1/12"><%= link_to topic.posts.last.author.username, profile_path(topic.posts.last.author) %></td>
                    <td class="px-3 hidden md:table-cell w-2/12"><%= time_ago_in_words(topic.posts.last.created_at) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</details>

<%= render 'table', topics: @topics, topic_follows: @topic_follows, topic_views: @topic_views, mentions: @mentions %>
