<% title("New topic") %>

<h1 class="text-lg mb-1 px-1 inline-block bg-secondary-700 text-white">new topic</h1>
<%= form_with model: @topic, class: "py-2" do |f| %>
    <%= render 'shared/errors', errors: @topic.errors if @topic.errors.any? %>

    <%= f.label :title, "title", class: "block font-semibold text-primary-100" %>
    <%= f.text_field :title, class: "border-none w-full md:w-6/12 py-1 px-1 mb-3 bg-primary-100" %>
    
    <%= f.fields_for :posts do |ff| %>
        <%= ff.label :body, "body", class: "block font-semibold text-primary-100" %>
        <%= ff.text_area :body, class: "form-textarea border-none w-full h-36 md:w-6/12 py-1 px-1 mb-3 bg-primary-100" %>
    <% end %>

    <%= f.submit "post", class: "block btn" %>
<% end %>
