<div class="pb-2">
    <div class="bg-yellow-500">
        <div class="bg-yellow-400 px-2 py-1">
            <h1 class="text-lg"><%= @topic.title %></h1>
            <h2 class="text-xs"><%= link_to @topic.author.email, profile_path(@topic.author) %> | <%= time_ago_in_words(@topic.created_at) %></h2>
        </div>

    <% @topic.posts.select{|p| p.persisted? }.each_with_index do |post, index| %>
        <% if index.zero? %>
            <div class="px-2 py-3">
                <div class="px-1 whitespace-pre-line"><%= post.body %></div>
            </div>
        </div>
        <% else %>
            <div class="bg-yellow-500 py-1 px-2 my-1">
                <div class="flex justify-between">
                    <div class="text-sm font-medium"><%= link_to post.author.email, profile_path(post.author) %></div>
                    <div class="text-xs text-yellow-900"><%= time_ago_in_words(post.created_at) %></div>
                </div>
                <div class="whitespace-pre-line px-1"><%= post.body %></div>
            </div>
        <% end %>

    <% end %>
</div>


<%= form_with(model: @new_post, url: [@topic], method: :put, class: "py-2") do |f| %>
    <%= render 'shared/errors', errors: @new_post.errors %>

    <%= f.label :body, "reply", class: "block font-semibold" %>
    <%= f.text_area :body, class: "form-textarea border-none w-6/12 py-1 px-1 mb-3 bg-yellow-100" %>

    <%= f.submit "post", class: "block btn" %>
<% end %>

<%= link_to "see all topics", topics_path, class: "link" %>
