<h1 class="text-lg mb-1 px-1 inline-block bg-secondary-300">resend unlock instructions</h1>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, 'email', class: "block font-semibold text-primary-100" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", autocapitalize: "off", spellcheck: "false", class: "border-none w-full md:w-6/12 py-1 px-1 mb-3 bg-primary-100" %>
  </div>

  <div class="actions py-3">
    <%= f.submit "resend unlock instructions", class: "block btn", data: { turbo: false } %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
