<h1 class="text-lg">editing <%= @profile.user.username %></h1>
<div class="text-med text-xs"><%= @profile.user.posts.count %> posts</div>
<div class="py-3">
    <%= form_with model: @profile, url: profile_path(@profile.user) do |f| %>
        <%= render 'shared/errors', errors: @profile.errors %>

        <%= f.label :about_me, 'favorite food', class: "block font-semibold" %>
        <%= f.text_area :about_me, class: "form-textarea border-none w-6/12 py-1 px-1 mb-3 bg-yellow-100" %>

        <%= f.submit 'update', class: "block btn" %>
    <% end %>
</div>