<% title("@#{@profile.user.username}'s Profile") %>

<% if Rails.configuration.x.invitations.enabled && current_user.has_invites_available? %>
    <div class="py-1 px-3 mb-3 bg-secondary-800 text-white">
        hello, you have an invite available! care to <%= link_to 'invite someone', new_user_invitation_path, class: 'link' %>?
    </div>
<% end %>

<div class="py-1 px-3 bg-primary-400">
    <h1 class="text-lg"><%= @profile.user.username %></h1>
    <div class="text-med text-xs"><%= @profile.user.posts.count %> posts</div>
</div>

<div class="px-3 py-1 bg-primary-300 whitespace-pre-line">
    <%= @profile.about_me %>
</div>

<% if my_profile? %>
    <%= link_to "edit my profile", edit_profile_path(@profile.user), class: "my-3 inline-block link--light" %>
<% end %>
