<!DOCTYPE html>
<html class="h-full bg-yellow-600">
  <head>
    <title>Forum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="h-full">
    <nav class="w-full bg-yellow-200 py-1 px-1 flex justify-between">
      <%= link_to 'home', root_path, class: 'link' %>
      <div>
        <% if user_signed_in? %>
          <%= link_to 'my profile', my_profile_path, class: 'px-1 link' %>
          <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "px-1 link" %>
        <% else %>
          <%= link_to "sign in", new_user_session_path, class: 'link' %>
        <% end %>
      </div>
    </nav>
    <div class="w-full">
      <p class="px-1 bg-green-200 text-black"><%= notice %></p>
      <p class="px-1 bg-yellow-100 text-black"><%= alert %></p>
    </div>
    <div class="py-5 px-3">
      <%= yield %>
    </div>
  </body>
</html>
