<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title>Forum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="h-full">
    <div class="min-h-full py-16">
      <nav class="bg-gray-800 text-white">
        <p class="bg-green-200 text-black"><%= notice %></p>
        <p class="bg-yellow-200 text-black"><%= alert %></p>
      </nav>
      
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn-blue" %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "btn-blue" %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
