<!DOCTYPE html>
<html class="h-full bg-primary-700">
  <head>
    <title>
      <%= "#{sanitize(yield(:title))} · " if content_for?(:title) %>
      <%= Rails.application.credentials.website_name %>
    </title>
    <%= yield(:cache_control) if content_for?(:cache_control) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-full">
    <nav class="w-full bg-primary-200 py-1 px-1 flex justify-between">
      <%= link_to 'home', root_path, class: 'link--dark' %>
      <div>
      <% if user_signed_in? %>
          <%= link_to 'directory', user_directory_path, class: 'px-1 link--dark' %>
          <%= link_to '*s', my_starred_path, class: 'px-1 link--dark' %>
          <%= link_to '@s', my_mentions_path, class: 'px-1 link--dark' %>
          <%= link_to 'my profile', my_profile_path, class: 'px-1 link--dark' %>
          <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "px-1 link--dark", data: { turbo_method: "delete" } %>
        <% else %>
          <%= link_to "sign in", new_user_session_path, class: 'link--dark' %>
        <% end %>
      </div>
    </nav>
    <div class="w-full snow">
      <p class="px-1 bg-secondary-800 text-white"><%= notice %></p>
      <p class="px-1 bg-secondary-900 text-white"><%= alert %></p>
    </div>
    <div class="py-5 px-3">
      <%= yield %>
    </div>
  </body>
</html>
